---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Experiencia from '../components/Experiencia.astro';
import SectionContainer from '../components/SectionContainer.astro';
import IconExperiencia from '../Icons/IconExperiencia.astro';
import CodeDev from '../Icons/CodeDev.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';
import UserCode from '../Icons/UserCod.astro';
import TitleSection from '../components/TitleSection.astro';
import Hero from '../components/Hero.astro';


---

<Layout 
	title = "Portafolio de Kevin Lamilla - Desarrollador de Software"
	description="Desarrollador de Software"
>
<main class="px-4">
<SectionContainer class="py-16 md:py-36">
	<Hero>
		<slot />
	</Hero>
</SectionContainer>
<div class="space-y-24">
	<SectionContainer id="experiencia" class="py-20">
		<TitleSection>
			<IconExperiencia class="size-7" />
			Experiencia Laboral
		</TitleSection>
		<Experiencia />
	</SectionContainer>

	<SectionContainer id="proyectos" class="py-5">
		<TitleSection>
			<CodeDev class="size-9" />
			Proyectos
		</TitleSection>
		<Proyectos />
	</SectionContainer>

	<SectionContainer id="sobre-mi" class="py-5">
		<TitleSection>
			<UserCode class="size-9" />
			Sobre mí
		</TitleSection>
		<SobreMi />
	</SectionContainer>
	</div>
	</main>
</Layout>

